.my-app {
    text-align: center;
    border: black solid 1px;
    border-radius: 5px;
    margin-left: 30%;
    margin-right: 30%;
    box-sizing: border-box;
}

#addBtn, li button{
    margin-left: 20px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
}

#addBtn, li button:hover {
    background-color: #e8e4e3;
}

@media (max-width: 500px) {
    .my-app {
        margin-left: 10%;
        margin-right: 10%;
        box-sizing: border-box;
    }
}